<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <br>

<%= link_to 'Home', static_pages_home_path %>
<br>
<%= link_to 'About', static_pages_about_path %>
<br>
<%= link_to 'Help', static_pages_help_path %>
<br>
  </body>
</html>
