<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %> | Ruby on Rails Tutorial Sample App</title>
 <%= render 'layouts/rails_default' %>
  </head>
  <body>

<%= render 'layouts/header' %>

<%= render 'layouts/alerts' %>

<div class="container">
    <%= yield %>

 <%= render 'layouts/footer' %></div>
  </body>

 

</html>
